#container {
    width: 800px;
    padding: 50px 0;
    background-color: #9557c75e;
    text-align: center;
    border-radius: 20px;
    /* center container */
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
}

#prediction-form {
    width: 500px;
    margin: 0 auto;
}

#heading {
    color: white;
}

.mat-mdc-form-field {
    display: flex;
}

#btn {
    width: 100%;
    background-color: #1a5cbab0;
    font-size: 1.4em;
    height: 60px;
}

#prediction {
    color: white;
    padding-top: 30px;
}

#prediction > h3 {
    text-transform: uppercase;
}

#prediction > h2 {
    font-style: italic;
    color: #5aad4b;
}